<html>
  <head>
    <title>Erik's Django Girls Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Erik's Django Girls Blog</a></h1>
    </div>

    <div>
      <p>erstellt am: 28. Mai 2020, 23:06</p>
      <h2><a href="">Mein erster Post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venetatis vestibulum . Donec id elit non mi porta gravida et eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
      <p>erstellt am: 28. Mai 2020, 23:12</p>
      <h2><a href="">Mein zweiter Post</a></h2>
      <p>Warum sollte ich ein zweites Mal diesen scheiss lateinischen Spruch abtippen, den ich beim ersten Mal schon nicht verstanden habe? Dadurch wird's nicht besser Leute. Merkt euch das: solchen Quatsch könnt ihr alleine machen. Ohne mich!!<p>
    </div>
  </body>
</html>

